@primary-color:#409EFF; //主要颜色
@success-color:#07c160; //成功颜色
@info-color:#909399; //信息按钮
@warning-color:#ff976a; //警告按钮
@danger-color:#ee0a24; //危险按钮
//设置body,html,
*{
  margin:0;
  padding:0;
}
li{
  list-style:none;
}
html,body{
  width:100%;
  height:100%;
  overflow: hidden;
  background-color:#f2f2f2;
}
/*常用的定位*/
.pr{
  position: relative;
}
.pa{
  position: absolute;
}
.pf{
  position: fixed;
}
/*常用的浮动*/
.fl{
  float:left;
}
.fr{
  float:right;
}
/*felx 布局声明*/
.flex{
  display: flex;
  flex-direction:row;
}
/*元素类型改变*/
.db{
  display: block;
}
.dn{
  display: none;
}
.dib{
  display: inline-block;
}
/*表单相关的*/
.zh-input-box{
  line-height:30px;
  height:100%;
  input{
    border:none;
    border-radius:5px;
    border:1px solid #e8eaec;
    display: inline-block;
    width:100%;
    height:30px;
    text-indent:8px;
    &[disabled]{
      background-color: #f5f7fa;
      border-color: #e4e7ed;
      color: #c0c4cc;
      cursor: not-allowed;
    }
  }
}
.zh-check{
  display: inline-block;
  width:12px;
  height:12px;
  border:1px solid #dcdcdc;
  cursor:pointer;
  line-height:12px;
  color:#fff;
  background-color:#fff;
  margin-right:2px;
}
.zh-checkbox-group{
  display: flex;
  flex-direction: row;
  flex-wrap:wrap;
  div{
    margin-right:15px;
  }
}
.zh-form-box{
  max-height:485px;
  overflow:auto;
  padding:10px 16px;
  font-size:14px;
  color: #606266;
  .zh-form{
    ul .zh-form-item{
      display: flex;
      min-height:30px;
      line-height:30px;
      margin-bottom:20px;
      .zh-form-item_label{
        width:90px;
        padding: 0 12px 0 0;
        text-align: right;
      }
      .zh-form-item_content{
        flex:1;
      }
    }
  }
}
.zh-select-dropdown_{
  display: none;
  width:100%;
  z-index: 1001;
  border: 1px solid #e4e7ed;
  border-radius: 4px;
  background-color: #fff;
  -webkit-box-shadow: 0 2px 12px 0 rgba(0,0,0,.1);
  box-shadow: 0 2px 12px 0 rgba(0,0,0,.1);
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 5px 0;
  .zh-select-dropdown_items{
    padding:3px 0;
    .zh-select-dropdown_item{
      text-indent:15px;
      padding:3px 0;
      cursor: pointer;
      &:hover{
        background-color: #f5f7fa;
      }
    }
  }
}
/*常用按钮部分     开始*/
/* <div class='zh-button' type='info' size='small' plain>保存</div>
    type:定义不同颜色的按钮
    size: small/mini  定义大小不同的按钮
*/
.zh-button{
  display: inline-block;
  line-height: 1;
  white-space: nowrap;
  cursor: pointer;
  background: #FFF;
  border: 1px solid #DCDFE6;
  color: #606266;
  font-size: 14px;
  padding:12px 20px;
  border-radius:4px;
  margin-right:10px;
  &[type="primary"]{
    color:#fff;
    background-color:@primary-color;
    border-color:@primary-color;
  }
  &[type='primary'][plain]{
    color:@primary-color;
    background-color:#fff;
    border-color:@primary-color;
  }
  /*成功按钮*/
  &[type='success']{
    color:#fff;
    background-color:@success-color;
    border-color:@success-color;
  }
  &[type='success'][plain]{
    color:@success-color;
    background-color:#fff;
    border-color:@success-color;
  }
  /*信息按钮*/
  &[type='info']{
    color:#fff;
    background-color:@info-color;
    border-color:@info-color;
  }
  &[type='info'][plain]{
    color:@info-color;
    background-color:#fff;
    border-color:@info-color;
  }
  /*警告按钮*/
  &[type='warning']{
    color:#fff;
    background-color:@warning-color;
    border-color:@warning-color;
  }
  &[type='warning'][plain]{
    color:@warning-color;
    background-color:#fff;
    border-color:@warning-color;
  }
  /*危险按钮*/
  &[type=danger]{
    color:#fff;
    background-color:@danger-color;
    border-color:@danger-color;
  }
  &[type=danger][plain]{
    color:@danger-color;
    background-color:#fff;
    border-color:@danger-color;
  }
  /*小按钮*/
  &[size=small]{
    font-size:12px;
    padding:9px 15px;
    border-radius:3px;
  }
  /*最小按钮*/
  &[size=mini]{
    font-size:12px;
    padding:0 12px;
    height:28px;
    line-height:28px;
  }
  /*圆角按钮*/
  &[around]{
    border-radius:20px;
  }
}
/*开关样式*/
.zh-switch{
  display: inline-block;
  width: 40px;
  height: 18px;
  line-height: 18px;
  border-radius: 22px;
  vertical-align: middle;
  border: 1px solid #ccc;
  background-color: #ccc;
  position: relative;
  cursor: pointer;
  transition: all .2s ease-in-out;
  &::before{
    content:"";
    display: inline-block;
    width:12px;
    height:12px;
    border-radius:50%;
    position: absolute;
    left: 3px;
    top: 2px;
    z-index: 1;
    background-color:#fff;
    border:1px solid #fff;
  }
}
.selected{
  background-color:#409eff;
  border:1px solid #409eff;
  &::before{
    left: 24px;
  }
}
/*弹窗背景蒙层*/
.zh-modal-background{
  position:fixed;
  top:0;
  left:0;
  height:100%;
  width:100%;
  background-color:#000;
  z-index:900;
  opacity:0.2;
}
/*转圈样式*/
.zh-loading{
  position: absolute;
  top: 45%;
  left: 45%;
  width:100px;
  height:100px;
  padding: 6px 20px 6px 30px;
  background: url('../img/homeImg/bigloading.gif') no-repeat center;
  z-index:1000;
}
/*弹窗内容*/
.zh-modal-box{
  background-color:#fff;
  position: absolute;
  border-radius:3px;
  overflow:hidden;
  top:132px;
  // top:50%;
  left:50%;
  margin-left:-226px;
  width:452px;
  z-index:1001;
  .zh-modal-content{
    background-clip: padding-box;
    position: relative;
    .zh-modal-head{
      cursor: move;
      position: relative;
      padding:8px 10px;
      border-bottom: 1px solid #e8eaec;
      font-size:14px;
      font-weight:bold;
      .close-modal{
        font-weight:500;
        position: absolute;
        right:9px;
        top:0;
        padding:8px;
        cursor:pointer;
      }
    }
    .zh-modal-body{
      padding:8px 10px;
      /*提示框*/
      .zh-message-body{
        display: flex;
        flex-direction: row;
        padding:16px;
        align-items: center;
        .zh-modal-icon{
          width:25px;
          height:25px;
          margin-right:20px;
          img{
            width:100%;
            height:100%;
          }
        }
        .zh-modal-title{
          flex:1;
          color:#606266;
          font-size:14px;
        }
      }
    }
    .zh-modal-footer{
      border-top: 1px solid #e8eaec;
      padding:8px 10px;
      text-align:right;
    }
  }
}
/*高度自适应*/
.zh-card-box{
  width:100%;
  height:100%;
  padding:15px;
  .zh-card{
    background-color:#fff;
    height:calc(100% - 30px);
    width:calc(100% - 30px);
    z-index:2;
    .zh-card-header{
      padding:12px 15px;
    }
  }
}
/*导航栏菜单*/
.zh-menubar{
  font-size:12px;
  border-bottom:1px solid #f2f2f2;
  li{
    padding:10px 20px;
    cursor:pointer;
    color:#909399;
  }
  .zh-active{
    border-bottom:2px solid #409EFF;
  }
}
/*表格数据渲染*/
.zh-table-box{
  padding:0 15px 15px;
  max-height:calc(100% - 140px);
  overflow: auto;
  .zh-table{
    width:100%;
    font-size:12px;
    position: relative;
    border:1px solid #f2f2f2;
    border-collapse:collapse;
    th,td{
      height:28px;
      line-height:28px;
      padding:5px 10px;
      border:1px solid #ebeef5;
      &[checkbox]{
        width:40px;
        text-align: center;
        position: relative;
      }
      &[align='left']{
        text-align: left !important;
      }
    }
    thead th{
      font-weight:500;
      background-color:#f8f8f9;
    }
    &[algin='center']{
      td,th{
        text-align: center;
      }
    }
    &[algin='left']{
      td,th{
        text-align: left;
      }
    }
  }
}
/*选择框*/
.zh-checkbox{
  display: inline-block;
  width:13px;
  height:13px;
  border:1px solid #dcdcdc;
  cursor:pointer;
  line-height:12px;
  color:#fff;
  background-color:#fff;
  position: absolute;
  top:50%;
  left:50%;
  margin-left:-6px;
  margin-top:-6px;
}
.zh-checked{
  background-color:#409eff;
}