.flex{
  display: flex;
  font-size:14px;
  align-items: center;
}
.zh-select{
  position: relative;
  width: 150px;
  border:1px solid #dcdcdc;
  border-radius:3px;
  height:30px;
  line-height:30px;
}
.zh-items{
  padding:0 10px;
  width:100%;
  display: flex;
  font-size:14px;
  align-items: center;
  .zh-items-label{
    width:auto;
    text-align: center;
  }
  .zh-items-select{
    flex:1;
    border-radius:3px;
    height:30px;
    line-height:30px;
    position: relative;
    .zh-input{
      overflow: hidden;
      border:1px solid #dcdcdc;
      input{
        cursor:text;
        height:30px;
        width:100%;
        outline: none;
        border:none;
        text-indent:5px;
      }
    }
    .zh-select-dropdown{
      position: absolute;
      width:100%;
      height:200px;
      z-index:1000;
      transform-origin: center top;
      background-color:#fff;
      box-shadow: 0 2px 5px #dcdcdc;
      border-radius:3px;
      top:36px;
    }
  }
}
// .zh-select{
//   display: inline-block;
//   min-width:150px;
//   width:auto;
//   appearance: none;
//   -webkit-appearance: none;
//   -moz-appearance: none;
//   border-radius:3px;
//   height:30px;
//   line-height:30px;
//   padding-left:15px;
//   padding-right:15px;
//   position: relative;
//   option{
//     height:30px;
//   }
// }
.public-header{
  height:50px;background-color:#fff;display: flex;align-items: center;
}