* {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
}
html,
body {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: #f2f2f2;
}
/*常用的定位*/
.pr {
  position: relative;
}
.pa {
  position: absolute;
}
.pf {
  position: fixed;
}
/*常用的浮动*/
.fl {
  float: left;
}
.fr {
  float: right;
}
/*felx 布局声明*/
.flex {
  display: flex;
  flex-direction: row;
}
/*元素类型改变*/
.db {
  display: block;
}
.dn {
  display: none;
}
.dib {
  display: inline-block;
}
/*表单相关的*/
.zh-input-box {
  line-height: 30px;
  height: 100%;
}
.zh-input-box input {
  border: none;
  border-radius: 5px;
  border: 1px solid #e8eaec;
  display: inline-block;
  width: 100%;
  height: 30px;
  text-indent: 8px;
}
.zh-input-box input[disabled] {
  background-color: #f5f7fa;
  border-color: #e4e7ed;
  color: #c0c4cc;
  cursor: not-allowed;
}
.zh-check {
  display: inline-block;
  width: 12px;
  height: 12px;
  border: 1px solid #dcdcdc;
  cursor: pointer;
  line-height: 12px;
  color: #fff;
  background-color: #fff;
  margin-right: 2px;
}
.zh-checkbox-group {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.zh-checkbox-group div {
  margin-right: 15px;
}
.zh-form-box {
  max-height: 485px;
  overflow: auto;
  padding: 10px 16px;
  font-size: 14px;
  color: #606266;
}
.zh-form-box .zh-form ul .zh-form-item {
  display: flex;
  min-height: 30px;
  line-height: 30px;
  margin-bottom: 20px;
}
.zh-form-box .zh-form ul .zh-form-item .zh-form-item_label {
  width: 90px;
  padding: 0 12px 0 0;
  text-align: right;
}
.zh-form-box .zh-form ul .zh-form-item .zh-form-item_content {
  flex: 1;
}
.zh-select-dropdown_ {
  display: none;
  width: 100%;
  z-index: 1001;
  border: 1px solid #e4e7ed;
  border-radius: 4px;
  background-color: #fff;
  -webkit-box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 5px 0;
}
.zh-select-dropdown_ .zh-select-dropdown_items {
  padding: 3px 0;
}
.zh-select-dropdown_ .zh-select-dropdown_items .zh-select-dropdown_item {
  text-indent: 15px;
  padding: 3px 0;
  cursor: pointer;
}
.zh-select-dropdown_ .zh-select-dropdown_items .zh-select-dropdown_item:hover {
  background-color: #f5f7fa;
}
/*常用按钮部分     开始*/
/* <div class='zh-button' type='info' size='small' plain>保存</div>
    type:定义不同颜色的按钮
    size: small/mini  定义大小不同的按钮
*/
.zh-button {
  display: inline-block;
  line-height: 1;
  white-space: nowrap;
  cursor: pointer;
  background: #FFF;
  border: 1px solid #DCDFE6;
  color: #606266;
  font-size: 14px;
  padding: 12px 20px;
  border-radius: 4px;
  margin-right: 10px;
  /*成功按钮*/
  /*信息按钮*/
  /*警告按钮*/
  /*危险按钮*/
  /*小按钮*/
  /*最小按钮*/
  /*圆角按钮*/
}
.zh-button[type="primary"] {
  color: #fff;
  background-color: #409EFF;
  border-color: #409EFF;
}
.zh-button[type='primary'][plain] {
  color: #409EFF;
  background-color: #fff;
  border-color: #409EFF;
}
.zh-button[type='success'] {
  color: #fff;
  background-color: #07c160;
  border-color: #07c160;
}
.zh-button[type='success'][plain] {
  color: #07c160;
  background-color: #fff;
  border-color: #07c160;
}
.zh-button[type='info'] {
  color: #fff;
  background-color: #909399;
  border-color: #909399;
}
.zh-button[type='info'][plain] {
  color: #909399;
  background-color: #fff;
  border-color: #909399;
}
.zh-button[type='warning'] {
  color: #fff;
  background-color: #ff976a;
  border-color: #ff976a;
}
.zh-button[type='warning'][plain] {
  color: #ff976a;
  background-color: #fff;
  border-color: #ff976a;
}
.zh-button[type=danger] {
  color: #fff;
  background-color: #ee0a24;
  border-color: #ee0a24;
}
.zh-button[type=danger][plain] {
  color: #ee0a24;
  background-color: #fff;
  border-color: #ee0a24;
}
.zh-button[size=small] {
  font-size: 12px;
  padding: 9px 15px;
  border-radius: 3px;
}
.zh-button[size=mini] {
  font-size: 12px;
  padding: 0 12px;
  height: 28px;
  line-height: 28px;
}
.zh-button[around] {
  border-radius: 20px;
}
/*开关样式*/
.zh-switch {
  display: inline-block;
  width: 40px;
  height: 18px;
  line-height: 18px;
  border-radius: 22px;
  vertical-align: middle;
  border: 1px solid #ccc;
  background-color: #ccc;
  position: relative;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
.zh-switch::before {
  content: "";
  display: inline-block;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  position: absolute;
  left: 3px;
  top: 2px;
  z-index: 1;
  background-color: #fff;
  border: 1px solid #fff;
}
.selected {
  background-color: #409eff;
  border: 1px solid #409eff;
}
.selected::before {
  left: 24px;
}
/*弹窗背景蒙层*/
.zh-modal-background {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #000;
  z-index: 900;
  opacity: 0.2;
}
/*转圈样式*/
.zh-loading {
  position: absolute;
  top: 45%;
  left: 45%;
  width: 100px;
  height: 100px;
  padding: 6px 20px 6px 30px;
  background: url('../img/homeImg/bigloading.gif') no-repeat center;
  z-index: 1000;
}
/*弹窗内容*/
.zh-modal-box {
  background-color: #fff;
  position: absolute;
  border-radius: 3px;
  overflow: hidden;
  top: 132px;
  left: 50%;
  margin-left: -226px;
  width: 452px;
  z-index: 1001;
}
.zh-modal-box .zh-modal-content {
  background-clip: padding-box;
  position: relative;
}
.zh-modal-box .zh-modal-content .zh-modal-head {
  cursor: move;
  position: relative;
  padding: 8px 10px;
  border-bottom: 1px solid #e8eaec;
  font-size: 14px;
  font-weight: bold;
}
.zh-modal-box .zh-modal-content .zh-modal-head .close-modal {
  font-weight: 500;
  position: absolute;
  right: 9px;
  top: 0;
  padding: 8px;
  cursor: pointer;
}
.zh-modal-box .zh-modal-content .zh-modal-body {
  padding: 8px 10px;
  /*提示框*/
}
.zh-modal-box .zh-modal-content .zh-modal-body .zh-message-body {
  display: flex;
  flex-direction: row;
  padding: 16px;
  align-items: center;
}
.zh-modal-box .zh-modal-content .zh-modal-body .zh-message-body .zh-modal-icon {
  width: 25px;
  height: 25px;
  margin-right: 20px;
}
.zh-modal-box .zh-modal-content .zh-modal-body .zh-message-body .zh-modal-icon img {
  width: 100%;
  height: 100%;
}
.zh-modal-box .zh-modal-content .zh-modal-body .zh-message-body .zh-modal-title {
  flex: 1;
  color: #606266;
  font-size: 14px;
}
.zh-modal-box .zh-modal-content .zh-modal-footer {
  border-top: 1px solid #e8eaec;
  padding: 8px 10px;
  text-align: right;
}
/*高度自适应*/
.zh-card-box {
  width: 100%;
  height: 100%;
  padding: 15px;
}
.zh-card-box .zh-card {
  background-color: #fff;
  height: calc(100% - 30px);
  width: calc(100% - 30px);
  z-index: 2;
}
.zh-card-box .zh-card .zh-card-header {
  padding: 12px 15px;
}
/*导航栏菜单*/
.zh-menubar {
  font-size: 12px;
  border-bottom: 1px solid #f2f2f2;
}
.zh-menubar li {
  padding: 10px 20px;
  cursor: pointer;
  color: #909399;
}
.zh-menubar .zh-active {
  border-bottom: 2px solid #409EFF;
}
/*表格数据渲染*/
.zh-table-box {
  padding: 0 15px 15px;
  max-height: calc(100% - 140px);
  overflow: auto;
}
.zh-table-box .zh-table {
  width: 100%;
  font-size: 12px;
  position: relative;
  border: 1px solid #f2f2f2;
  border-collapse: collapse;
}
.zh-table-box .zh-table th,
.zh-table-box .zh-table td {
  height: 28px;
  line-height: 28px;
  padding: 5px 10px;
  border: 1px solid #ebeef5;
}
.zh-table-box .zh-table th[checkbox],
.zh-table-box .zh-table td[checkbox] {
  width: 40px;
  text-align: center;
  position: relative;
}
.zh-table-box .zh-table th[align='left'],
.zh-table-box .zh-table td[align='left'] {
  text-align: left !important;
}
.zh-table-box .zh-table thead th {
  font-weight: 500;
  background-color: #f8f8f9;
}
.zh-table-box .zh-table[algin='center'] td,
.zh-table-box .zh-table[algin='center'] th {
  text-align: center;
}
.zh-table-box .zh-table[algin='left'] td,
.zh-table-box .zh-table[algin='left'] th {
  text-align: left;
}
/*选择框*/
.zh-checkbox {
  display: inline-block;
  width: 13px;
  height: 13px;
  border: 1px solid #dcdcdc;
  cursor: pointer;
  line-height: 12px;
  color: #fff;
  background-color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -6px;
  margin-top: -6px;
}
.zh-checked {
  background-color: #409eff;
}
