.richardPaper{
  height:100%;
  .richard-content{
    font-size:12px;
    height:calc(100% - 31px);
    padding:15px;
    .richard-content-header{
      height:32px;
      align-items: center;
      .zh-button-box{
        float:left;
        margin-right:10px;
      }
      .rch-right{
        float:right;
        display: flex;
        border:1px solid #409EFF;
        align-items: center;
        border-radius:3px;
        overflow:hidden;
        font-size:14px;
        div{
          width:60px;
          text-align: center;
          padding:5px 15px;
        }
        .on{
          background-color:#409EFF;
          color:#fff;
        }
      }
    }
    .check-all-box{
      height:20px;
    }
    .richard-content-content{
      height:(100% - 8px);
      overflow:auto;
      padding:10px;
      .zh-picContainer{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        position: relative;
        .zh-picItem{
          width:250px;
          height:240px;
          cursor: pointer;
          margin-right:15px;
          background-color:#fff;
          margin-bottom:15px;
          box-shadow: 0 2px 12px 0 rgba(0,0,0,.1);
          box-sizing: border-box;
          border:1px solid #dcdfe6;
          padding:10px;
          position: relative;
          // position: absolute;
          .zh-pic{
            height:170px;
            margin: 4px 0;
            img{
              width:100%;
              height:100%;
            }
          }
          .zh-picCheck{
            position: relative;
          }
          .zh-picNo{
            text-align: center;
            line-height:25px;
          }
        }
      }
    }
  }
}